.ptable table{
    margin: 30px auto;
    border-collapse: collapse;
}

.ptable{
    margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
    background-color: black;
    color: #ffe221;
}

.wpos{
    text-align: center;
}

.wpos td{
    color: #77ff21;
}

.pos{
    text-align: center;
}

.pos td{
    color: #ff7b21;
}

table .col{
    border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
    background-color: #77ff21;
}

.wpos:hover td{
    color: #000000;
}

.pos:hover{
    background-color: #ff7b21;
}

.pos:hover td{
    color: #000000;
}

@media screen and (max-width: 640px) {
    table {
        font-size: 10px;
        width: 10%;
    }
}
