@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    font-family: 'Montserrat', sans-serif;
    background: #000000;
    margin: 0;
}

a {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    color: #efed22;
    padding: 10px 0px;
}

a:hover {
    color: white;
    text-decoration: none;
}

.menu {
    background: #000000;
    margin: auto;
    text-align: center;
    padding: 15px;
    box-shadow: 0px -4px 24px 2px rgba(0, 0, 0, 0.15);
}
.menu ol {
    padding-left: 0px;
}

.menu-item {
    list-style-type: none;
    display: inline;
    position: relative;
    margin: 15px;
}

.menu-item:before {
    position: absolute;
    content: "";
    border-bottom: 3px solid #efed22;
    overflow: hidden;
    width: 0%;
    left: 50%;
    top: 47px;
    -webkit-transition: 0.2s ease-in-out 0.15s;
    transition: 0.2s ease-in-out 0.15s;
}

.menu-item:hover:before {
    width: 100%;
    left: 0%;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.sub-menu {
    position: absolute;
    left: 0%;
    background: #000000;
    top: 50px;
    padding: 0;
    text-align: left;
    box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.15);
    max-height: 0;
    max-width: 200px;
    opacity: 0;
    -webkit-transition: 0.45s ease all 0.1s;
    transition: 0.45s ease all 0.1s;
    z-index: 0;
}
.sub-menu .menu-item {
    display: block;
}

.menu-item:nth-child(n + 3):nth-child(-n + 4) .plus-icon {
    width: 10px;
    height: 10px;
    stroke: #efed22;
    margin-bottom: 1px;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4) .sub-menu-item {
    list-style-type: none;
    display: block;
    margin: 15px;
    position: relative;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    opacity: 0;
    -webkit-transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.1s;
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) all 0.1s;
    visibility: hidden;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu {
    max-height: 200px;
    max-width: 200px;
    opacity: 1;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item a {
    -webkit-transition: 0.15s ease all;
    transition: 0.15s ease all;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item a:hover {
    color: #7850bf;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item:first-child {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
    visibility: visible;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item:nth-child(2) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    visibility: visible;
}
.menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item:nth-child(3) {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    visibility: visible;
}

@media screen and (max-width: 640px) {
    .menu span {
        cursor: pointer;
        padding: 10px 14px;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        height: 27px;
        width: 27px;
    }
    .menu span:before {
        content: "";
        position: absolute;
        width: 26px;
        height: 4px;
        background-color: #efed22;
        top: 22px;
        left: 15px;
        -webkit-transition: 0.15s ease all;
        transition: 0.15s ease all;
    }
    .menu span:after {
        content: "";
        position: absolute;
        width: 26px;
        height: 4px;
        background-color: #cdca2e;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        left: 15px;
        top: 22px;
        -webkit-transition: 0.15s ease all;
        transition: 0.15s ease all;
    }
    .menu.open span:after {
        width: 16px;
        left: 24px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .menu.open span:before {
        width: 16px;
        left: 15px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .menu.open .menu-item {
        display: block;
    }
    .menu.open .menu-item a:hover {
        color: #bfbd1e;
    }
    .menu.open .menu-item a:hover .plus-icon {
        stroke: #bfba13;
    }
    .menu.open .menu-item:nth-child(3):hover .sub-menu-item {
        margin: 10px auto;
    }
    .menu.open .menu-item:nth-child(4):hover .sub-menu-item {
        margin: 10px auto;
    }

    .menu-item {
        display: none;
        text-align: center;
        margin: 15px auto;
    }

    .menu-item:before {
        width: 0%;
        display: none;
    }

    .sub-menu {
        position: relative;
        box-shadow: none;
        top: 0;
        text-align: center;
        max-height: 0;
        opacity: 0;
        -webkit-transition: 0.2s ease all;
        transition: 0.2s ease all;
        z-index: 0;
        margin: auto;
    }

    .menu-item:nth-child(n + 3):nth-child(-n + 4):hover .sub-menu-item:nth-child(n + 1) {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .menu-item:nth-child(n + 3):nth-child(-n + 4) .sub-menu-item {
        margin: 0px;
        font-size: 12px;
    }
    .menu-item:nth-child(n + 3):nth-child(-n + 4) .sub-menu-item:nth-child(n + 1) {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
}

#container {
    width: 30%;
}

#bg {
    background-image: url("../assets/img/dames.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    margin-top: 3.9%;
    background-color: rgba(12, 14, 13, 0.89);
    opacity: 0.6;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    font-size: 5em;
    text-align: center;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.sitetitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    border: 1px solid #FFF;
    border-radius: 10px;
    padding: 20px 40px;
    margin-left: 110px;
    font-family: Arial Narrow, sans-serif;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
}

.button:hover {
    border: 1px solid lightblue;
}
